{# On recupère notre base #}
{% extends "base.html.twig" %}
{# on peut redefinir le titre de l'onglet #}
{% block title %}
	{{title|default('Nos motos')}}

{% endblock %}
{% block body %}
	<div class="container mt-5">
		<header class="mb-4">
			<h1 class="text-center mb-5 display-4">{{title|default('Nos motos')}}</h1>
			

		</header>

		<div class="game-grid">
			{% for bike in bikes %}
				{% include "components/_bike_card.html.twig" with {'bike': bike} %}
			{% endfor %}
		</div>
	</div>

{% endblock %}
