{% extends "base.html.twig" %}

{% block body %}
	{# on recupère le template de detail card #}
	{% include "components/_detail_card.html.twig" %}

	<div class="action-buttons">
		<div>
			{# suppression #}
			{% include "bike/_delete_form.html.twig" with {"button_class": 'btn btn-delete'}%}
		</div>
		<div>
			<a href="{{ path('app_bike_edit', {'id': bike.id}) }}" class="btn btn-edit">Editer</a>
		</div>
		<div>
			<a href="{{path('app_bike_index')}}" class="btn btn-back">Retour à la liste</a>
		</div>

	</div>
{% endblock %}
